/* Estilos gerais para a tabela de consultas */
.consultas-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: var(--fonte-principal), sans-serif;
}

.consultas-table th,
.consultas-table td {
    padding: 12px;
    text-align: left;
}

/* Faixa vermelha dividindo os horários */
.consultas-table th {
    background-color: var(--vermelho); /* Cor vermelha */
    color: white;
}

.consultas-table tr:nth-child(even) {
    background-color: var(--branco);
}

.consultas-table tr:nth-child(odd) {
    background-color: var(--branco);
}

/* Estilo do botão de fechar */
.button-fechar {
    background-color: var(--azul); /* Cor azul para o botão */
    color: var(--branco);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9em;
    margin-top: 20px; /* Espaçamento acima do botão */
}

.button-fechar:hover {
    background-color:var(--vermelho); /* Cor do botão quando passar o mouse */
}


#consultas-container {
    display: none; /* Escondido por padrão */
    /* Adicione outras propriedades de estilo, como margem, padding, etc. */
}
