/* Container principal do header */
.container-header {
    display: flex;
    justify-content: space-between; /* Espaço entre logo e ícones */
    align-items: center;            /* Centraliza verticalmente a logo e os ícones */
    padding: 10px 20px;             /* Adiciona um espaçamento ao redor */
    background-color: var(--branco);      /* Cor de fundo do header (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve no header */
}

/* Estilizando a logo */
.logo-imagem {
    width: 200px;  /* Tamanho da logo */
    height: auto;  /* Mantém a proporção da imagem */
}

/* Estilizando os ícones */
.icones-lista {
    display: flex;       /* Alinha os ícones em linha (horizontalmente) */
    list-style: none;    /* Remove as bolinhas da lista */
    gap: 20px;           /* Espaçamento entre os ícones */
}

.icones-lista-link {
    display: flex;
    flex-direction: column; /* Alinha imagem e texto em coluna */
    align-items: center;    /* Centraliza horizontalmente imagem e texto */
    justify-content: center; /* Centraliza verticalmente dentro do item */
    text-align: center;     /* Centraliza o texto */
    cursor: pointer;
    padding: 10px;
    width: 120px;          /* Largura fixa do botão */
    height: 90px;          /* Altura fixa do botão */
    border: 2px solid  rgba(0, 0, 0, 0.1); 
    border-radius: 8px;       /* Bordas arredondadas */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transição suave para hover */
    background-color: white;   /* Cor de fundo do botão */
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400; 
    text-decoration: none;
}

.icones-lista-link:hover {
    background-color: var(--cinza-escuro); /* Cor de fundo ao passar o mouse */
    
}

/* Estilizando as imagens dentro dos botões */
.icones-lista-link img {
    width: 50px; /* Ajuste a largura da imagem para caber no botão */
    height: 50px; /* Ajuste a altura da imagem */
    margin-bottom: 5px; /* Espaço entre a imagem e o texto */
}

/* Estilizando o texto dos ícones */
.icones-lista-link p {
    font-family: var(--fonte-principal); /* Aplica a fonte Roboto */
    font-size: 14px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    margin: 0; /* Remove margens extras */
}

.icones-lista-link a {
    text-decoration: none; /* Remove o sublinhado */
    color: #333;          /* Cor do texto (pode ser ajustada) */
    
}
